@import "tailwindcss";

@theme {
  /* link color */
  --color-link-700: #0F5699;
  --color-link-600: #1473CC;
  --color-link-500: #1990FF;
  --color-link-200: #A3D3FF;
  --color-link-100: #D1E9FF;
  --color-link-50: #E8F4FF;
  /* primary color */
  --color-primary-700: #2422A4;
  --color-primary-600: #2926B9;
  --color-primary-500: #4E0657;
  --color-primary-200: #D5D4F5;
  --color-primary-100: #EAEAFA;
  --color-primary-50: #F5F4FD;
  /* secondary color */
  --color-secondary-700: #CC515D;
  --color-secondary-600: #E65B68;
  --color-secondary-500: #FF6574;
  --color-secondary-200: #FFE0E3;
  --color-secondary-100: #FFF0F1;
  --color-secondary-50: #FFF7F8;
  /* succes color */
  --color-success-700: #26A44D;
  --color-success-600: #2BB956;
  --color-success-500: #30CD60;
  --color-success-200: #D6F5DF;
  --color-success-100: #EAFAEF;
  --color-success-50: #F5FDF7;
  /* pending color */
  --color-pending-700: #CC8733;
  --color-pending-600: #E6983A;
  --color-pending-500: #FFA940;
  --color-pending-200: #FFEED9;
  --color-pending-100: #FFF6EC;
  --color-pending-50: #FFFBF5;
  /* error color */
  --color-error-700: #AE3636;
  --color-error-600: #C43C3C;
  --color-error-500: #DA4343;
  --color-error-200: #F8D9D9;
  --color-error-100: #FBECEC;
  --color-error-50: #FDF6F6;

  /*--color-neutral color */
  --color-neutral-table-header: #FBFBFD;
  --color-neutral-background: #F8F8FC;
  --color-neutral-disable: #DCDEE9;
  --color-neutral-divider: #E4E5F0;
  --color-neutral-border: #BCBFD6;
  --color-neutral-placeholder: #A7ABC3;
  --color-neutral-text-secondary: #82869E;
  --color-neutral-text-primary: #434657;
  --color-neutral-text-title: #1B1D29;
}